@model Estamparia.MVC.Models.Produto

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="form-group">
    @Html.LabelFor(model => model.Nome, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
	</div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Cor, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.Cor, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Cor, "", new { @class = "text-danger" })
	</div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Preco, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.Preco, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
	</div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Estoque, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.TextBoxFor(model => model.Estoque, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Estoque, "", new { @class = "text-danger" })
	</div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Categoria, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.DropDownListFor(model => model.CategoriaId, ((IEnumerable<Estamparia.MVC.Models.Categoria>)ViewBag.Categorias).Select(option => new SelectListItem {
			Text = (option == null ? "None" : option.Nome), 
			Value = option.CategoriaId.ToString(),
			Selected = (Model != null) && (option.CategoriaId == Model.CategoriaId)
		}), "Escolha...", new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
	</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Tamanho, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.DropDownListFor(model => model.TamanhoId, ((IEnumerable<Estamparia.MVC.Models.Tamanho>)ViewBag.Tamanhoes).Select(option => new SelectListItem {
			Text = (option == null ? "None" : option.Nome), 
			Value = option.TamanhoId.ToString(),
			Selected = (Model != null) && (option.TamanhoId == Model.TamanhoId)
		}), "Escolha...", new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.TamanhoId, "", new { @class = "text-danger" })
	</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Gola, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.DropDownListFor(model => model.GolaId, ((IEnumerable<Estamparia.MVC.Models.Gola>)ViewBag.Golas).Select(option => new SelectListItem {
			Text = (option == null ? "None" : option.Nome), 
			Value = option.GolaId.ToString(),
			Selected = (Model != null) && (option.GolaId == Model.GolaId)
		}), "Escolha...", new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.GolaId, "", new { @class = "text-danger" })
	</div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Estampa, new { @class = "col-md-2 control-label" })
	<div class="col-md-10">
		@Html.DropDownListFor(model => model.EstampaId, ((IEnumerable<Estamparia.MVC.Models.Estampa>)ViewBag.Estampas).Select(option => new SelectListItem {
			Text = (option == null ? "None" : option.Nome), 
			Value = option.EstampaId.ToString(),
			Selected = (Model != null) && (option.EstampaId == Model.EstampaId)
		}), "Escolha...", new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.EstampaId, "", new { @class = "text-danger" })
	</div>
</div>
