@model Lojinha.MVC.Models.Contabilidade



<div id="area-contabilidade">
    @if (Model != null)
    {
        <div class="form-group" id="lastro">
            @Html.LabelFor(model => model.Lastro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lastro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lastro, "", new { @class = "text-danger" })
            </div>
        </div>

        <table class="table" id="table-compras">
            <tr>
                <th>
                    @Html.Label("Fornecedor")
                </th>
                <th>
                    @Html.Label("Data")
                </th>
                <th>
                    @Html.Label("Lastro Total")
                </th>
                <th>Ações</th>
            </tr>

            @foreach (var compra in Model.ComprasFornecedores)
            {
                @Html.Partial("_LinhaCompra", compra)
            }
        </table>


        <table class="table" id="table-vendas">
            <tr>
                <th>
                    @Html.LabelForModel("Loja")
                </th>
                <th>
                    @Html.Label("Data")
                </th>
                <th>
                    @Html.Label("Total Venda")
                </th>
                <th>Ações</th>
            </tr>

            @foreach (var venda in Model.VendasLojas)
            {
                @Html.Partial("_LinhaVenda", venda)
            }
        </table>

        <div class="form-group" id="submit-form">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
</div>
