@model Lojinha.MVC.Models.VendaLoja
@using Lojinha.MVC.Models

@using (Html.BeginCollectionItem(nameof(Contabilidade.VendasLojas)))
{
    @Html.HiddenFor(vl => vl.ContabilidadeId)
    @Html.HiddenFor(vl => vl.VendaLojaId)

    <tr>
        <td>
            @Html.DisplayFor(model => model.Loja.Nome)
        </td>
        <td>
            @Html.DisplayFor(model => model.Data)
        </td>
        <td>
            @Html.DisplayFor(model => model.TotalVenda)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "ComprasFornecedores", new { id = Model.VendaLojaId }, null)
        </td>
    </tr>
}

