@model IEnumerable<Lojinha.MVC.Models.Contabilidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastro)
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContabilidadeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContabilidadeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContabilidadeId })
        </td>
    </tr>
}
</table>
