@model IEnumerable<Lojinha.MVC.Models.VendaLoja>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Loja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalVenda)
        </th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Loja.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalVenda)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "VendasLojas", new { id = item.VendaLojaId }, null)
        </td>
    </tr>
    }
</table>