@model IEnumerable<Estamparia.MVC.Models.Produto>

@{
    ViewBag.Title = "Indice";
    Layout = "~/Views/Shared/_LayoutZurb.cshtml";
}

<h2 id="buceta">Indice</h2>

<p>
    @Html.ActionLink("Criar Novo", "Criar", null, new { @class = "btn btn-primary active"})
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Categoria)
			</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(model => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(model => item.Categoria)
			</td>
			<td>
				@Html.ActionLink("Editar", "Editar", new { id = item.ProdutoId }) |
				@Html.ActionLink("Detalhes", "Detalhes", new { id= item.ProdutoId }) |
				@Html.ActionLink("Excluir", "Excluir", new { id = item.ProdutoId })
			</td>
		</tr>
		}
	</tbody>
</table>


