@model Estamparia.MVC.Models.Produto

@* This partial view defines form fields that will appear when creating and editing entities *@

@Html.LabelFor(model => model.Nome)
<div>
	@Html.TextBoxFor(model => model.Nome)
	@Html.FoundationValidationMessageFor(model => model.Nome)
</div>

@Html.LabelFor(model => model.Cor)
<div>
	@Html.TextBoxFor(model => model.Cor)
	@Html.FoundationValidationMessageFor(model => model.Cor)
</div>

@Html.LabelFor(model => model.Preco)
<div>
	@Html.TextBoxFor(model => model.Preco)
	@Html.FoundationValidationMessageFor(model => model.Preco)
</div>

@Html.LabelFor(model => model.Estoque)
<div>
	@Html.TextBoxFor(model => model.Estoque)
	@Html.FoundationValidationMessageFor(model => model.Estoque)
</div>


@Html.LabelFor(model => model.Categoria)
<div>
	@Html.DropDownListFor(model => model.CategoriaId, ((IEnumerable<Estamparia.MVC.Models.Categoria>)ViewBag.Categorias).Select(option => new SelectListItem {
		Text = (option == null ? "None" : option.Nome), 
		Value = option.CategoriaId.ToString(),
		Selected = (Model != null) && (option.CategoriaId == Model.CategoriaId)
	}), "Escolha...")
</div>

@Html.LabelFor(model => model.Tamanho)
<div>
	@Html.DropDownListFor(model => model.TamanhoId, ((IEnumerable<Estamparia.MVC.Models.Tamanho>)ViewBag.Tamanhos).Select(option => new SelectListItem {
		Text = (option == null ? "None" : option.Nome), 
		Value = option.TamanhoId.ToString(),
		Selected = (Model != null) && (option.TamanhoId == Model.TamanhoId)
	}), "Escolha...")
</div>

@Html.LabelFor(model => model.Gola)
<div>
	@Html.DropDownListFor(model => model.GolaId, ((IEnumerable<Estamparia.MVC.Models.Gola>)ViewBag.Golas).Select(option => new SelectListItem {
		Text = (option == null ? "None" : option.Nome), 
		Value = option.GolaId.ToString(),
		Selected = (Model != null) && (option.GolaId == Model.GolaId)
	}), "Escolha...")
</div>

@Html.LabelFor(model => model.Estampa)
<div>
	@Html.DropDownListFor(model => model.EstampaId, ((IEnumerable<Estamparia.MVC.Models.Estampa>)ViewBag.Estampas).Select(option => new SelectListItem {
		Text = (option == null ? "None" : option.Nome), 
		Value = option.EstampaId.ToString(),
		Selected = (Model != null) && (option.EstampaId == Model.EstampaId)
	}), "Escolha...")
</div>
