@model Estamparia.MVC.Models.Produto

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_LayoutZurb.cshtml";
}

<div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell">
        <h1>Excluir</h1>

        <h6>Tem certeza que deseja excluir este registro?</h6>
        <h4>Produto</h4>
        <hr />

        <dl>
				<dt>
					@Html.DisplayNameFor(model => model.Nome)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Nome)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Cor)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Cor)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Preco)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Preco)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Estoque)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Estoque)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Tamanho)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Tamanho)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Gola)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Gola)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Categoria)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Categoria)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => model.Estampa)
				</dt>
				<dd>
					@Html.DisplayFor(model => model.Estampa)
				</dd>
        </dl>
    </div>
	<div class="cell">
		@using (Html.BeginForm())
        {
            <p>
                <input class="button alert" type="submit" value="Confirmar Exclusão" /> |
                @Html.ActionLink("Voltar para Listagem", "Indice", null, new { @class = "button secondary" })
            </p>
        }
	</div>
</div>

