@model IEnumerable<Lojinha.MVC.Models.CompraFornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lucro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prejuizo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCompra)
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lucro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prejuizo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCompra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompraFornecedorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompraFornecedorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompraFornecedorId })
        </td>
    </tr>
}

</table>
