@model Estamparia.MVC.Models.Produto

@{
    ViewBag.Title = "Excluir";
}

<h1 class="display-4 mt-3">Excluir</h1>

<h6 class="mt-1">Tem certeza que deseja excluir este registro?</h6>
<div>
	<h4 class="mt-3">Produto</h4>
	<hr />
    <dl class="row">
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Nome)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Cor)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Cor)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Preco)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Preco)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Estoque)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Estoque)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Tamanho)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Tamanho.Nome)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Gola)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Gola.Nome)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Categoria)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Categoria.Nome)</dd>
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Estampa)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Estampa.Nome)</dd>
    </dl>
	@using (Html.BeginForm()) {
		<p>
			<input class="btn btn-danger" type="submit" value="Confirmar Exclusão" /> |
			@Html.ActionLink("Voltar para Listagem", "Indice")
		</p>
	}
</div>
