@using Estamparia.MVC.ViewModels

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/ink/css")
    @Scripts.Render("~/ink/js")
</head>
<body>
    <div class="ink-grid">
        <header>
            <h1>Estamparia</h1>
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <li>@Html.ActionLink("Estampas", "Indice", "Estampas", null, null)</li>
                    <li>@Html.ActionLink("Categorias", "Indice", "Categorias", null, null)</li>
                    <li>@Html.ActionLink("Produtos", "Indice", "Produtos", null, null)</li>
                    <li id="layoutHandler">
                        @Html.Partial("_LayoutHandler", new LayoutViewModel())
                    </li>
                </ul>
            </nav>
        </header>

        <div class="column-group vertical-space">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            LayoutController.init("#LayoutName");
        });
    </script>
</body>
</html>
