@using Estamparia.MVC.ViewModels

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Estamparia", "Indice", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Categorias", "Indice", "Categorias", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Produtos", "Indice", "Produtos", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Estampas", "Indice", "Estampas", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>

                @Html.Partial("_LayoutHandler", new LayoutViewModel())
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bootstrap/js")
    @RenderSection("scripts", required: false)
    <script>
        $("#LayoutName").change(function (e) {
            var layouts = document.getElementById("LayoutName");
            var currentLayout = layouts.selectedIndex;
            var layoutName = layouts.options[currentLayout].text;

            localStorage.setItem('currentLayout', currentLayout);
            
            document.cookie = `LayoutName = ${layoutName}`;
            
            window.location.reload();
        });

        $().ready(function () {
            if (localStorage.getItem('currentLayout'))
                $('#LayoutName').val(localStorage.currentLayout);
        });        
    </script>
</body>
</html>
